<div class="card-deck">
    <% products.forEach((product) => { %>
    <div class="card" style="max-width: 30vw;">
        <a href="/products/<%= product.id %>">
            <img class="card-img-top" src="/images/<%= product.productPicture %>" alt="Card image cap">
        </a>
        <div class="card-body">
            <h5 class="card-title"><%= product.productName %></h5>
            <p class="card-text"><%= product.description %></p>
        </div>
        
        <div class="card-footer">
            <a href="/products/<%= product.id %>" class="btn btn-primary">Buy now</a>
        </div>
    </div>
    <% }) %>
</div>